<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".OctoDiaryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OctoDiary"
        tools:targetApi="tiramisu">

        <receiver
            android:name=".UpdateReceiver"
            android:enabled="true" />

        <activity
            android:name=".ui.activities.SubjectActivity"
            android:exported="false"
            android:label="@string/subject"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.HomeworkModeActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.LessonActivity"
            android:theme="@style/Theme.HomeworkMode" />
        <activity
            android:name=".ui.activities.LessonActivity"
            android:exported="false"
            android:label="@string/lesson"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.MarkActivity"
            android:exported="false"
            android:label="@string/mark"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>